<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TakeNotes</title>
  </head>
  <body>
    <div
      style="
        overflow: hidden;
        background-color: rgb(18, 68, 240, 0.07);
        padding-top: 3rem;
        padding-bottom: 3rem;
                  border-radius: 1.5rem;

      "
    >
      <div
        style="
          background-color: #ffffff;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
          padding-bottom: 8px;
          padding-top: 10px;
          border: 1px solid rgba(51, 51, 51, 1);
          margin-left: auto;
          margin-right: auto;
          max-width: 32rem;
          border-radius: 1.5rem;
        "
      >
        <div style="max-width: 28.8rem; margin-left: auto; margin-right: auto">
          <div style="text-align: center; margin-top: 2rem">

            <img src="image_url" alt="TakeNotes Logo" style="height: 2rem;" />


          </div>
          <div
            style="
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              font-size: 1.5rem;
              line-height: 1.4;
              font-weight: 700;
              color: #333333;
              text-align: center;
            "
          >
            Willkommen an Board!
          </div>
          <hr style="border: none; border-top: 1px solid rgb(51, 51, 51, 0.3)" />
          <p style="color: #333333">
            Verifizieren Sie Ihre E-Mail-Adresse
Klicken Sie einfach auf den folgenden Link, um Ihre E-Mail-Adresse zu bestätigen:
          </p>
          <div style="text-align: center; margin-top: 2rem; margin-bottom: 2rem">
            <a
              href="{verify_link}"

              style="
                text-decoration: none;
                border-radius: 9999px;
                background-color: #1244f0;
                padding-left: 1.6rem;
                padding-right: 1.6rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-weight: 600;
                color: #ffffff;
                border: none;
                margin-bottom: 1rem;
              "
            >
              Meine E-Mail-Adresse bestätigen
            </a>
            </div>
          <hr style="border: none; border-top: 1px solid rgb(51, 51, 51, 0.3)" />
            <div style="color: #6b7280; text-align: start">
              <p style="padding-top: 0.5rem; font-size: 0.875rem">
                Dieser Link ist nur für eine begrenzte Zeit gültig. Wenn Sie Probleme beim Klicken auf den Link haben, kopieren Sie ihn und fügen Sie ihn in die Adressleiste Ihres Browsers ein.
              </p>
              <p style="padding-top: 0.5rem; font-size: 0.75rem">
                Diese E-Mail wurde automatisch generiert. Antworten auf diese Nachricht werden nicht gelesen oder weitergeleitet. Falls Sie Fragen haben, steht Ihnen unser Support-Team unter sert.e19@htlwienwest.at gerne zur Verfügung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>